# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.log

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
.sonarqube/

# Visual Studio cache/options directory
.vs/
.vscode/
UserFiles/

# SVN directory
.svn/
.config/
