.sy-header {
    display: flex;
    justify-content: space-between;
    border: 1px;
    box-shadow: 0px 0px 1px 1px #888888;
    border-radius: 5px;
    width: 100%;
    background-color: #0000003b;
}

.sy-list-hover-scroll {
    height: 100%;
    overflow-x: hidden;
    overflow-y: overlay;
}

    .sy-list-hover-scroll::-webkit-scrollbar {
        width: 0px;
    }

    .sy-list-hover-scroll::-webkit-scrollbar-thumb {
        border-radius: 20px;
    }

    .sy-list-hover-scroll:hover::-webkit-scrollbar {
        background: #e7e8e9;
        width: 8px;
    }

    .sy-list-hover-scroll:hover::-webkit-scrollbar-thumb {
        background: #ccc;
    }

.sy-layout-content {
    margin: 15px;
    background-color: var(--ant-layout-light-sider-bg);
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px #8888884d;
}

.sy-layout-menu {
    text-align: center;
    height: 100vh;
    line-height: 100vh;
    color: #888;
    background-color: var(--ant-layout-light-sider-bg) !important;
    box-shadow: 0px 0px 4px 0px #8888884d;
}

body {
    overflow: hidden;
}

.sy-layout-menu-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 45px !important;
    width: 45px !important;
    margin: 4px;
    border: none;
}

body {
    --ant-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.sy-layout-menu-btn > span:nth-of-type(2) {
    font-size: 12px;
    font-family: var(--ant-font-family);
    margin-left: 0px !important;
}

    .sy-layout-menu-btn > span:nth-of-type(1) {
        margin: 0px !important;
        font-size: 20px !important;
    }

.sy-layout-menu-btn:hover {
    box-shadow: 0px 0px 5px 0px #8888884d;
}

.sy-layout-menu-avatar {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.sy-layout-menu-btn-active {
    color: var(--ant-color-primary);
    box-shadow: 0px 0px 5px 0px #8888884d;
    border-color: var(--ant-color-primary-hover);
}

.sy-content {
    width: 100%;
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.sy-content-title, .sy-content-title-2 {
    width: 100%;
    background-color: rgb(0 0 0 / 0%);
}

.sy-content-title-2 span {
    font-size: 16px;
}

    .sy-content-title h3 {
        padding-left: 10px;
        color: var(--ant-color-text);
    }

.sy-content-tabs {
    width: 100%;
    height: 100%;
    --ant-tabs-vertical-item-margin: 8px 0 0 0 !important;
}

    .sy-content-tabs .ant-tabs-nav-list {
        padding-right: 10px;
    }

    .sy-content-tabs .ant-tabs-tab-active {
        background-color: var(--ant-blue-1);
        border-radius: 6px;
    }

    .sy-content-tabs .ant-tabs-nav {
        width: 160px;
    }

    .sy-content-tabs .ant-tabs-extra-content {
        width: 100%;
    }

    .sy-content-tabs .ant-tabs-tabpane {
        padding-left: 0px !important;
    }

.sy-slider-value-text {
    margin: 10px 6px 10px;
    display: inline-block;
    height: 12px;
    width: 70px;
    line-height: 12px;
    position: relative;
    overflow: hidden;
}

.sy-slider-value {
    display: inline-block;
    width: calc(100% - 120px);
}

.sy-content-footer {
    background: none;
    padding: 15px 50px;
    display: flex;
    justify-content: flex-end;
}

.sy-content-body {
    overflow: auto;
}

.ant-tabs-content, .ant-tabs-tabpane {
    height: 100% !important;
}

.sy-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sy-card-item {
    width: calc(100% / 2 - 10px);
    margin-bottom: 10px;
}

.sy-content-body-search {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

.sy-table-max .ant-table-body {
    height: calc(100vh - 275px) !important;
    overflow-y: scroll !important;
    max-height: 100% !important;
}

.sy-progress .ant-progress-text {
    width: 70px;
    font-size: 0.7em;
}

@media(max-width: 767.98px) {
    .sy-layout-content{
        margin: 5px;
    }

    .sy-card-item {
        width: 100%;
    }

    .sy-content-tabs .ant-tabs-nav {
        width: 100%;
        flex-wrap: wrap;
    }

    .sy-content-tabs .ant-tabs-nav-operations {
        display: none !important;
    }

    .sy-content-tabs .ant-tabs-tab + .ant-tabs-tab {
        margin: 0 0 0 10px !important;
    }

    .sy-content-tabs .ant-tabs-nav-wrap {
        overflow-y: hidden !important;
        overflow-x: auto !important;
        -webkit-overflow-scrolling: touch;
    }

        .sy-content-tabs .ant-tabs-nav-wrap::-webkit-scrollbar {
            display: none;
        }

    .sy-content-tabs .ant-tabs-tab {
        padding: 8px 8px !important;
    }

    .sy-content-tabs .ant-tabs-nav-wrap::after {
        display: none !important;
    }

    .sy-content-tabs .ant-tabs-nav-wrap::before {
        display: none !important;
    }

    .sy-content-tabs .ant-tabs-nav-list {
        transform: none !important;
    }
}

.sy-progress-high .ant-progress-inner:not(.ant-progress-circle-gradient) .ant-progress-circle-path {
    stroke: #db0e0e !important;
}

.sy-progress-low .ant-progress-inner:not(.ant-progress-circle-gradient) .ant-progress-circle-path {
    stroke: #35d120 !important;
}

/*.sy-card .ant-card-body {
    padding: 20px;
}*/

.sy-layout-menu-oc {
    width: 25px;
    height: 30px;
    position: absolute;
    left: 60px;
    top: 45px;
    background-color: var(--sy-menu-oc-bg);
    z-index: 1000;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    font-size: 20px;
}

    .sy-layout-menu-oc:hover {
        background-color: var(--sy-menu-oc-hover-bg);
    }

    .sy-layout-menu-oc:active {
        background-color: var(--sy-menu-oc-bg);
    }


.sy-layout-menu-close {
    transform: translate(-60px, 0px);
    position: absolute;
}

.sy-layout-menu-oc span {
    color: #fff;
}

.ant-alert{
    margin-bottom: 5px;
}

.sy-slider-value-input {
    display: inline-block;
    width: 70px;
    line-height: 12px;
    position: relative;
    overflow: hidden;
}

.sy-slider-value-reload {
    width: 25px;
    font-size: 24px;
    float: right;
    height: 32px;
    line-height: 1.5715;
    transform: rotateY(180deg);
}

    .sy-slider-value-reload span {
        font-size: 24px;
    }