@namespace PalServerTools.Components
@using PalServerTools.Utils;
@inherits AntDomComponentBase

@inject ServerInfo serverInfo

<Card Title="性能监控" Style="width:100%;">
    <Body>
        <p>操作系统版本： @serverInfo.GetOSVersion()</p>
        <p>处理器数量： @serverInfo.GetCPUCount() 核</p>
        <p>总内存大小：@serverInfo.GetTotalMemory() MB</p>

        <p>CPU利用率：@serverInfo.GetCPUUsage() %</p>
        <p>内存使用率：@serverInfo.GetMemoryUsage() %</p>
    </Body>
</Card>

@code {
    Timer timer;

    protected override Task OnInitializedAsync()
    {
        timer = new Timer(UpdatePerformanceInfo, null, TimeSpan.Zero, TimeSpan.FromSeconds(2));
        return Task.CompletedTask;
    }

    private void UpdatePerformanceInfo(object state)
    {
        InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }
}