@inherits LayoutComponentBase

<div class="container">
    <div class="card">
        <div class="card-header" style="height:10%">
            <div style="margin:10px;">
                <div class="row">
                    <div class="col-8">
                    </div>
                    <div class="col-8 text-center">
                        <span style="color:black;font-size:24px">欢迎使用 @ProductionName </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body" style="background-color:white;min-height:500px">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <div style="margin:100px 0">
                        @Body
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <small class="text-muted">Copyright @Year Powered By .NET Core 6.0</small>
        </div>
    </div>
</div>

@code {
    private const string ProductionName = "PalServerTools";
    private int Year = DateTime.Now.Year;
}
