@page "/proxy"


<PageTitle>代理</PageTitle>

<Flex Class="sy-content">
    <div class="sy-content-title">
        <h3>代理</h3>
    </div>
</Flex>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
