@page "/proxy"

<PageTitle>代理</PageTitle>

<Flex Vertical="true" Class="sy-content">
    <PageHeader Class="sy-content-title" Title="代理" />
    <div class="sy-content-body">
    </div>
</Flex>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
