@page "/proxy"

<PageTitle>代理</PageTitle>

<h1>代理</h1>

<div class="mb-3 row">
    <div class="col-sm-12">
        <textarea class="form-control" aria-label="With textarea" style="height:calc(100vh - 200px)" readonly></textarea>
    </div>
</div>
<div class="mb-3 row">
    <div class="col-12">
        <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
        <div class="input-group input-group-sm">
            <span class="input-group-text"><span class="oi oi-code" aria-hidden="true"></span></span>
            <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="输入命令...">
            <button class="btn btn-primary" @onclick="IncrementCount">
                发送
            </button>
        </div>
    </div>
</div>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
