@namespace PalServerTools.Components
@inherits AntDomComponentBase
@inject NavigationManager nvm

<Button Icon="@this.Icon"
        Class="@("sy-layout-menu-btn" + ((new Uri(nvm.Uri).LocalPath == this.Path) ? " sy-layout-menu-btn-active ": " ") + this.Class)"
        OnClick="@(async (e) => {
          if (!string.IsNullOrWhiteSpace(this.Path))
            {
                nvm.NavigateTo(this.Path);
            }
        })">
    @this.Title
</Button>

@code {

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            nvm.LocationChanged += (e, w) =>
            {
                this.StateHasChanged();
            };
        }
        return base.OnAfterRenderAsync(firstRender);
    }

}